body {
  background-color: black;
}
.table-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 30%;
}

th:first-child {
  text-align: end;
  background-color: #8D8F98;
  padding: 20px;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

th {
  text-align: center;
  background-color: #FF8C00;
  padding: 20px;
  font-weight: bold;
}

td {
  text-align: center;
  padding: 20px;
  background-color: #ccc;
  font-weight: bold;
}